<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>WASAD 2023</title>
	<atom:link href="https://wasad2023.org/feed/" rel="self" type="application/rss+xml" />
	<link>https://wasad2023.org</link>
	<description>WORLD ASSOCIATION FOR STRESS-RELATED AND ANXIETY DISORDERS e.V.</description>
	<lastBuildDate>Tue, 12 Sep 2023 05:00:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.3.1</generator>
	<item>
		<title>Prevention effects after six and twelve months of the transdiagnostic onlineCBT program “Learn to Manage your Emotions”Clinically significant change based on clinician-rated measures after the self-applied transdiagnostic online program Learn to Manage your Emotions (AMtE) for the treatment of emotional disorders in adolescents: A randomized controlled trial</title>
		<link>https://wasad2023.org/prevention-effects-after-six-and-twelve-months-of-the-transdiagnostic-onlinecbt-program-learn-to-manage-your-emotions/</link>
		
		<dc:creator><![CDATA[Doncmedia]]></dc:creator>
		<pubDate>Tue, 05 Sep 2023 16:33:29 +0000</pubDate>
				<category><![CDATA[E-Poster]]></category>
		<guid isPermaLink="false">https://wasad2023.org/?p=1056</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[
<p></p>


<div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-flex-wrap:wrap;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start fusion-flex-content-wrap" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_1 1_1 fusion-flex-column" style="--awb-bg-size:cover;--awb-width-large:100%;--awb-margin-top-large:0px;--awb-spacing-right-large:1.92%;--awb-margin-bottom-large:0px;--awb-spacing-left-large:1.92%;--awb-width-medium:100%;--awb-spacing-right-medium:1.92%;--awb-spacing-left-medium:1.92%;--awb-width-small:100%;--awb-spacing-right-small:1.92%;--awb-spacing-left-small:1.92%;"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column"><div class="fusion-text fusion-text-1"><figure class="wp-block-embed-pdf-viewer-pdf wp-block-embed-pdf-viewer-pdf__content-wrapper aligncenter"><object class="embed-pdf-viewer" data="https://wasad2023.org/wp-content/uploads/2023/09/Poster_subclinicos_WASAD231.pdf#scrollbar=1&amp;toolbar=1" type="application/pdf" height="1200" width="900" title=""></object><iframe class="embed-pdf-viewer" src="https://docs.google.com/viewer?url=https%3A%2F%2Fwasad2023.org%2Fwp-content%2Fuploads%2F2023%2F09%2FPoster_subclinicos_WASAD231.pdf&amp;embedded=true" frameborder="0" height="1200" width="900" title=""></iframe></figure>
</div></div></div></div></div>


<p>Authors are available for a poster discussion weekdays from 11am to 2pm and 5pm to 7pm.<br><a href="https://m.me/juliastrasbourg">=> Messenger</a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Virtual Reality in Therapy for Music Performance Anxiety</title>
		<link>https://wasad2023.org/virtual-reality-in-therapy-for-music-performance-anxiety/</link>
		
		<dc:creator><![CDATA[Doncmedia]]></dc:creator>
		<pubDate>Tue, 05 Sep 2023 16:33:29 +0000</pubDate>
				<category><![CDATA[E-Poster]]></category>
		<guid isPermaLink="false">https://wasad2023.org/?p=1054</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[
<p></p>


<div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-flex-wrap:wrap;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start fusion-flex-content-wrap" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-1 fusion_builder_column_1_1 1_1 fusion-flex-column" style="--awb-bg-size:cover;--awb-width-large:100%;--awb-margin-top-large:0px;--awb-spacing-right-large:1.92%;--awb-margin-bottom-large:0px;--awb-spacing-left-large:1.92%;--awb-width-medium:100%;--awb-spacing-right-medium:1.92%;--awb-spacing-left-medium:1.92%;--awb-width-small:100%;--awb-spacing-right-small:1.92%;--awb-spacing-left-small:1.92%;"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column"><div class="fusion-text fusion-text-2"><figure class="wp-block-embed-pdf-viewer-pdf wp-block-embed-pdf-viewer-pdf__content-wrapper aligncenter"><object class="embed-pdf-viewer" data="https://wasad2023.org/wp-content/uploads/2023/09/Bellinger_WASAD-Poster-2023_MPA_final.pdf#scrollbar=1&amp;toolbar=1" type="application/pdf" height="1200" width="900" title=""></object><iframe class="embed-pdf-viewer" src="https://docs.google.com/viewer?url=https%3A%2F%2Fwasad2023.org%2Fwp-content%2Fuploads%2F2023%2F09%2FBellinger_WASAD-Poster-2023_MPA_final.pdf&amp;embedded=true" frameborder="0" height="1200" width="900" title=""></iframe></figure>
</div></div></div></div></div>]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Can Personality Traits and Trait Emotional Intelligence Explain Reduced Effects of Burnout Among Physicians in Pakistan?</title>
		<link>https://wasad2023.org/can-personality-traits-and-trait-emotional-intelligence-explain-reducedeffects-of-burnout-among-physicians-in-pakistan/</link>
		
		<dc:creator><![CDATA[Doncmedia]]></dc:creator>
		<pubDate>Tue, 05 Sep 2023 16:33:29 +0000</pubDate>
				<category><![CDATA[E-Poster]]></category>
		<guid isPermaLink="false">https://wasad2023.org/?p=1049</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-flex-wrap:wrap;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start fusion-flex-content-wrap" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-2 fusion_builder_column_1_1 1_1 fusion-flex-column" style="--awb-bg-size:cover;--awb-width-large:100%;--awb-margin-top-large:0px;--awb-spacing-right-large:1.92%;--awb-margin-bottom-large:0px;--awb-spacing-left-large:1.92%;--awb-width-medium:100%;--awb-spacing-right-medium:1.92%;--awb-spacing-left-medium:1.92%;--awb-width-small:100%;--awb-spacing-right-small:1.92%;--awb-spacing-left-small:1.92%;"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column"><div class="fusion-text fusion-text-3"><figure class="wp-block-embed-pdf-viewer-pdf wp-block-embed-pdf-viewer-pdf__content-wrapper aligncenter"><object class="embed-pdf-viewer" data="https://wasad2023.org/wp-content/uploads/2023/09/WASAD-2023-e-poster_Final.pdf#scrollbar=1&amp;toolbar=1" type="application/pdf" height="1400" width="900" title=""></object><iframe class="embed-pdf-viewer" src="https://docs.google.com/viewer?url=https%3A%2F%2Fwasad2023.org%2Fwp-content%2Fuploads%2F2023%2F09%2FWASAD-2023-e-poster_Final.pdf&amp;embedded=true" frameborder="0" height="1400" width="900" title=""></iframe></figure>
</div></div></div></div></div>]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Clinically significant change based on clinician-rated measures after the self-applied transdiagnostic online program Learn to Manage your Emotions (AMtE) for the treatment of emotional disorders in adolescents: A randomized controlled trial</title>
		<link>https://wasad2023.org/clinically-significant-change-based-on-clinician-rated-measures/</link>
		
		<dc:creator><![CDATA[Doncmedia]]></dc:creator>
		<pubDate>Tue, 05 Sep 2023 16:33:29 +0000</pubDate>
				<category><![CDATA[E-Poster]]></category>
		<guid isPermaLink="false">https://wasad2023.org/?p=1046</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="fusion-fullwidth fullwidth-box fusion-builder-row-4 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-flex-wrap:wrap;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start fusion-flex-content-wrap" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-3 fusion_builder_column_1_1 1_1 fusion-flex-column" style="--awb-bg-size:cover;--awb-width-large:100%;--awb-margin-top-large:0px;--awb-spacing-right-large:1.92%;--awb-margin-bottom-large:0px;--awb-spacing-left-large:1.92%;--awb-width-medium:100%;--awb-spacing-right-medium:1.92%;--awb-spacing-left-medium:1.92%;--awb-width-small:100%;--awb-spacing-right-small:1.92%;--awb-spacing-left-small:1.92%;"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column"><div class="fusion-text fusion-text-4"><figure class="wp-block-embed-pdf-viewer-pdf wp-block-embed-pdf-viewer-pdf__content-wrapper aligncenter"><object class="embed-pdf-viewer" data="https://wasad2023.org/wp-content/uploads/2023/09/v2_2-poster-clinicos-WASAD-VEL_YS1.pdf#scrollbar=1&amp;toolbar=1" type="application/pdf" height="1200" width="900" title=""></object><iframe class="embed-pdf-viewer" src="https://docs.google.com/viewer?url=https%3A%2F%2Fwasad2023.org%2Fwp-content%2Fuploads%2F2023%2F09%2Fv2_2-poster-clinicos-WASAD-VEL_YS1.pdf&amp;embedded=true" frameborder="0" height="1200" width="900" title=""></iframe></figure>
</div></div></div></div></div>


<p>Authors are available for a poster discussion weekdays from 11am to 2pm and 5pm to 7pm.<br><a href="https://m.me/juliastrasbourg">=> Messenger</a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Effects on self-reported anxiety and depressive symptoms of the selfapplied transdiagnostic online program Learn to Manage your Emotions (AMtE) in clinical adolescents: A randomized controlled trial</title>
		<link>https://wasad2023.org/effects-on-self-reported-anxiety-and-depressive-symptoms/</link>
		
		<dc:creator><![CDATA[Doncmedia]]></dc:creator>
		<pubDate>Tue, 05 Sep 2023 16:33:29 +0000</pubDate>
				<category><![CDATA[E-Poster]]></category>
		<guid isPermaLink="false">https://wasad2023.org/?p=1043</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<div class="fusion-fullwidth fullwidth-box fusion-builder-row-5 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-flex-wrap:wrap;" ><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start fusion-flex-content-wrap" style="max-width:1248px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-4 fusion_builder_column_1_1 1_1 fusion-flex-column" style="--awb-bg-size:cover;--awb-width-large:100%;--awb-margin-top-large:0px;--awb-spacing-right-large:1.92%;--awb-margin-bottom-large:0px;--awb-spacing-left-large:1.92%;--awb-width-medium:100%;--awb-spacing-right-medium:1.92%;--awb-spacing-left-medium:1.92%;--awb-width-small:100%;--awb-spacing-right-small:1.92%;--awb-spacing-left-small:1.92%;"><div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column"><div class="fusion-text fusion-text-5"><figure class="wp-block-embed-pdf-viewer-pdf wp-block-embed-pdf-viewer-pdf__content-wrapper aligncenter"><object class="embed-pdf-viewer" data="https://wasad2023.org/wp-content/uploads/2023/09/schmittetaleffects.pdf#scrollbar=1&amp;toolbar=1" type="application/pdf" height="1200" width="900" title=""></object><iframe class="embed-pdf-viewer" src="https://docs.google.com/viewer?url=https%3A%2F%2Fwasad2023.org%2Fwp-content%2Fuploads%2F2023%2F09%2Fschmittetaleffects.pdf&amp;embedded=true" frameborder="0" height="1200" width="900" title=""></iframe></figure>
</div></div></div></div></div>


<p>Authors are available for a poster discussion weekdays from 11am to 2pm and 5pm to 7pm.<br><a href="https://m.me/juliastrasbourg">=> Messenger</a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>The effect of mindfulness on the quality of life of individuals with anxiety related disorders: A systematic review and meta analysis</title>
		<link>https://wasad2023.org/heel-industry-symposium/</link>
					<comments>https://wasad2023.org/heel-industry-symposium/#respond</comments>
		
		<dc:creator><![CDATA[Doncmedia]]></dc:creator>
		<pubDate>Mon, 04 Sep 2023 13:37:52 +0000</pubDate>
				<category><![CDATA[E-Poster]]></category>
		<guid isPermaLink="false">https://wasad2023.org/?p=996</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[
<figure class="wp-block-embed-pdf-viewer-pdf wp-block-embed-pdf-viewer-pdf__content-wrapper aligncenter"><object class="embed-pdf-viewer" data="https://wasad2023.org/wp-content/uploads/2023/09/Fontenelle_Poster.pdf#scrollbar=1&amp;toolbar=1" type="application/pdf" height="1200" width="900" title=""></object><iframe class="embed-pdf-viewer" src="https://docs.google.com/viewer?url=https%3A%2F%2Fwasad2023.org%2Fwp-content%2Fuploads%2F2023%2F09%2FFontenelle_Poster.pdf&amp;embedded=true" frameborder="0" height="1200" width="900" title=""></iframe></figure>
]]></content:encoded>
					
					<wfw:commentRss>https://wasad2023.org/heel-industry-symposium/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
